/**
 * Course matrix styles
 */

// Remove the border header from the top left column so it doesn't look funny.
.views-matrix-col-first {
  border: 0;
}

// Wrapper scope.
.view-stanford-courses-matrix {
  .sticky-header th {
    background: rgba(0, 0, 0, 0.51);
    color: #EEEEEE;
  }
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /**
   * Label the data.
   *I know this is bad and it should be translated.
   * @todo: Find a better solution for this. Possibly javascript? (SM)
   **/
  td:nth-of-type(1):before { content: "Autumn:"; font-weight: bold; }
  td:nth-of-type(2):before { content: "Winter:"; font-weight: bold; }
  td:nth-of-type(3):before { content: "Spring:"; font-weight: bold; }
  td:nth-of-type(4):before { content: "Winter:"; font-weight: bold; }

  td:nth-of-type(1),
  td:nth-of-type(2),
  td:nth-of-type(3),
  td:nth-of-type(4) {
    padding-left: 75px;
    min-height: 1em;
  }

  tr.odd {
    padding: 0;
  }

}
